nav a img {
    transition: 0.3s;
}

nav a:hover img {
    transform: scale(1.1);
}

body .container {
    height: calc(100vh - 60px);
}

footer {
    background-color: #191919;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links a {
    color: white;
    padding: 10px;
    background-color: transparent;
    margin: 0 20px;
    transition: 0.3s;
    border-radius: 10px;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.git:hover {
    color: #191919;
    background-color: white;
}

footer .links a.linkedin:hover {
    color: #0b66c3;
    background-color: white;
}

footer .links a.x:hover {
    color: #191919;
    background-color: white;
}

footer .links i {
    font-size: 50px;
    transition: 0.3s;
}

footer .logo img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

footer .logo:hover img {
    transform: scale(1.2);
}