{% load static %}
<footer>
  <div>
    <div class="logo">
      <a href="{% url 'home' %}"
        ><img src="{% static 'images/Logo.png' %}" alt="Logo"
      /></a>
    </div>
    <div class="links">
      <a class="git" href="https://github.com/Estoda" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/ahmed-amin-b9393a26a/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a class="x" href="https://x.com/AhmedAmin82253" target="_blank"
        ><i class="fa-brands fa-square-x-twitter"></i
      ></a>
    </div>
  </div>
  <p>&copy: 2024 Ahmed Amin. All rights reserved.</p>
</footer>
